html {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  color: white;
}

#first_fbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

#first_fbox h1 {
  font-size: 48px;
}

#first_fbox p {
  font-size: 18px;
  color: rgb(125, 125, 125);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

ul li {
  display: inline-flex;
  border: 1px solid rgb(57, 57, 57);
}

ul li:hover {
  border: 1px solid rgb(81, 81, 81);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(39, 39, 39);
}

.second_fbox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  width: 40%;
  margin: 4px;
  background-color: rgb(18, 18, 18);
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 32px;
}
